body {
  font-size: 10pt;
  /* Columbia blue */
/*  background: #75B2DD; */
  /* Twitter blue */
  /*
  background: rgb(212, 233, 243);
  */
  background-image: url('/~kuitang/sdi/images/background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
} 

ul input {
  margin-bottom: 0;
}

nav ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.metacontainer {
  /*
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75B2DD', endColorstr=rgb(212, 233, 243)); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#75B2DD', endColorstr=rgb(212, 233, 243))"; 
  background: -webkit-gradient(linear, left top, left bottom, from(#75B2DD), to(rgb(212, 233, 243))) center top; 
  background: -moz-linear-gradient(top,  #75B2DD,  rgb(212, 233, 243)) center top;
  */
  /* background-color: blue; */
}


#leftcol, #leftcol * {
/*  background: rgb(212, 233, 243); */
  background: black;
  color: white;
}
#leftbar {
  text-align: center;
  text-transform: uppercase;
}
#leftbar a {
  display: block;
  border-bottom-style: dotted;

  border-color: rgb(120, 120, 120);
  border-width: 1px;
  margin-bottom: 2px;
}

#leftcol .spacer {
  height: 40px;
}

#leftcol #taglist * {
  color: rgb(230, 230, 230);
}

/* #maincol {
  background: rgb(212, 233, 243);
} */


/* Reset some blueprint typography for our own use */

header {
  padding-top: 10px;
}

header #logo {
  font-size: 22pt;
  text-shadow: 3px 3px 2px LightSlateGray;
/*  color: #75B2DD; */
  float: left;
  background: transparent;
}

.col {
  background: white;
  box-shadow: 7px 7px 7px LightSlateGray;
  -webkit-box-shadow: 7px 7px 7px LightSlateGray;
  -moz-box-shadow: 7px 7px 7px LightSlateGray;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

header .error {
  background: red;
}

header #flash {
  margin-top: 45px;
  text-align: center;
  background: yellow;
}


#logo, h1, h2, h3, h4, h5, h6 {
  color: rgb(68, 68, 68);
}

ul.horizontal li {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: -1.4em;
}

nav ul li {
  list-style-type: none;
}

nav ul#user {
  color: white;
  float: right;
  padding: 5px 5px 5px 5px;
  background: black;
}

nav ul#user li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

input#search-query {
  border-radius: 5px;
  -moz-border-radius: 5px;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

nav ul#user li a {
  color: white;
}

nav ul#user li.leftnav {
  border-left-style: none;
  padding-left: 4px;
}

footer {
  text-align: right;
  /*color: #F0F0F0;*/
  font-size: 8pt;
  float: right;
}
