body {
  font-size: 10pt;
  background: #75B2DD; /* Columbia blue */
}

ul input {
  margin-bottom: 0;
}

.container {
}

header {
  padding-top: 10px;
  margin-left: 20px;
}

.col {
  background: white;
  box-shadow: 7px 7px 7px LightSlateGray;
  -webkit-box-shadow: 7px 7px 7px LightSlateGray;
  -moz-box-shadow: 7px 7px 7px LightSlateGray;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #75B2DD; /* Columbia blue */
}

nav .col {
  padding: 5px 5px 5px 5px;
}

nav ul li {
  list-style-type: none;
}

nav ul#user {
  float: right;
}

nav ul#user li {
  display: inline-block;
  border-left-style: dotted;
  border-width: 1px;
  padding-left: 6px;
  padding-right: 3px;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

nav ul#user li.leftnav {
  border-left-style: none;
  padding-left: 4px;
}

footer {
  text-align: right;
  /*color: #F0F0F0;*/
  font-size: 8pt;
  float: right;
}
